#header {
  .back {
    width: 100%;
    height: 100%;
    min-height: 700px;
    background: url('../assets/img/back.jpg');
    background-size: cover;

    .hover:hover {
      border-bottom: 1px solid #fff;
    }

    .form-back {
      background: #fff;
      height: 100%;
      position: relative;
      top: 50px;
      left: 0;
    }

    .form-control {
      border-radius: 0;
    }
  }
}

#explore {

  .card {
    width: 300px;
  }

  .image1 {
    width: 100px;
    height: 70px;
    background: url('https://a0.muscache.com/4ea/air/v2/pictures/8b7519ec-2c82-4c09-8233-fd4d2715bbf9.jpg');
    background-size: contain;
  }

  .image2 {
    width: 100px;
    height: 70px;
    background: url('https://a0.muscache.com/4ea/air/v2/pictures/a77ee672-e790-4362-8cc5-52bec1371ece.jpg');
    background-size: contain;
  }

  .image3 {
    width: 100px;
    height: 70px;
    background: url('https://a0.muscache.com/4ea/air/v2/pictures/38f2bfd6-1f4d-46d7-babf-61657deef302.jpg');
    background-size: contain;
  }

  .image4 {
    width: 100px;
    height: 70px;
    background: url('https://a0.muscache.com/4ea/air/v2/pictures/da2d8e97-90b7-409f-94ac-5ab0327c289b.jpg');
    background-size: contain;
  }
}

#airbnb-luxe {
  .text-1 {
    font-size: 32px;
    font-weight: 400;
    max-width: 90%;
  }
}
.place-card{
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}
.scroll {
    width: 100%;
    overflow-x: scroll;
  }
.align-center {
  padding: 0 40px;
}

@media screen and (max-width:767px) {
  .align-center {
    padding: 0 20px;
  }

  #airbnb-luxe {
    .align {
      position: relative;
      top: 10px;
      left: 10px;
    }

    .text-1 {
      font-size: 18px;
      font-weight: 400;
      max-width: 100%;
    }
  }
}
